{% extends 'base.html' %}
{% block title %} Tickets {% endblock %}
{% block content %}
<table class="styled-table">
    <thead>
    <tr>
        <th>Ticket</th>
        <th>Details</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assignee</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Due At</th>>
    </tr>
    </thead>
    <tbody>
    {% for ticket in page_obj %}
    <tr>
        <td><a href="/ticket/{{ticket.id}}">{{ticket.id}}</td>
        <td>{{ticket.subject}}</td>
        <td>{{ticket.priority}}</td>
        <td>{{ticket.status}}</td>
        <td>{{ticket.assignee_id}}</td>
        <td>{{ticket.created_at}}</td>
        <td>{{ticket.updated_at}}</td>
        <td>{{ticket.due_at}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<center>
    {% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li style="display: inline-block; zoom: 1;*display:inline;font-size: 200%;"><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled" style="display: inline-block; zoom: 1;*display:inline; font-size: 200%;"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if users.number == i %}
        <li class="active" style="display: inline-block; zoom: 1;*display:inline; font-size: 200%;"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li style="display: inline-block; zoom: 1;*display:inline; font-size: 200%;"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li style="display: inline-block; zoom: 1;*display:inline; font-size: 200%;"><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled" style="display: inline-block; zoom: 1;*display:inline; font-size: 200%;"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</center>
{% endblock %}