{% extends 'base.html' %}
{% block title %} Ticket #{{ticket.id}} {% endblock %}
{% block content %}
<div class="ticket">
    <table class="styled-table">
    <h2> Ticket #{{ticket.id}}</h2>
    <tbody>
    <tr>
        <td>Type</td>
        <td>{{ticket.type}}</td>
    </tr>
    <tr>
        <td>Subject</td>
        <td>{{ticket.subject}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ticket.status}}</td>
    </tr>
    <tr>
        <td>Assignee Id</td>
        <td>{{ticket.assignee_id}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ticket.description}}</td>
    </tr>
    <tr>
        <td>Created At</td>
        <td>{{ticket.created_at}}</td>
    </tr>
    <tr>
        <td>Updated At</td>
        <td>{{ticket.updated_at}}</td>
    </tr>
    <tr>
        <td>Due At</td>
        <td>{{ticket.due_at}}</td>
    </tr>
    <tr>
        <td>Tags</td>
        <td>{{ticket.tags}}</td>
    </tr>
    </tbody>
    </table>
</div>
{% endblock %}